#vordiefernet{
width: 300px;
height: 300px;
background-color:grey;
}

#hex{
    width: 300px;
    height: 300px;
    background-color:#f00;
    }
html{
    border: #f00 solid;
    height: 100%;
}
body{
    border: green solid;
    height: 100%;
}