div {
    width: 200px;
    height: 200px;
    background-color: brown;
    margin-top: 3rem;
}

/* box-shadow: x-versatz y-versatz Weichzeichnung Vergrößerung Farbe inset */

/* minimale Angaben für box-shadow */
#test01 {
    box-shadow: 5px 10px black;
}

#test02 {
    box-shadow: 5px 10px 20px blue;
}

#test03 {
    box-shadow: 5px 10px 20px 30px blue;
}

#test04 {
    box-shadow: 0px 0px 10px 10px blue inset;
}

#test05 {
    box-shadow: 5px 5px 20px 10px green inset, 5px 5px 20px 10px black;
}