span, b, i {
    background-color: rgb(7, 226, 7);
    width: 300px;
    height: 300px;
    display: block; /* span means the background is rounded just for the content or text but when we use 
                       block then it will take size from 300px as it was written.
                       when we use inline-block it will take the content as rounded text   */
    
}

div, p{
    background-color: rgb(204, 10, 10);
    width: 400px;
    height: 400px;
    display: block;   /*when we use block then it will take size from 400px as it was written.
                       when we use inline-block it will take the content aside */
}