*{
    margin: 0;
}
div{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    margin: 20px 0;
}

.test01{
    background-color: blue;
}
.test02{
    background-image: url("parken.png");
}
.test03{
    background-image: url("parken.png");
    background-repeat: repeat-x;
}
.test04{
    background-image: url("parken.png");
    background-repeat: repeat-y;
}
.test05{
    background-image: url("parken.png");
    background-repeat: no-repeat;
}
.verlauf{
        background-image: url("verlauf.png");
        background-repeat: repeat-x;
        margin: 0;
        width: 100%;
        height: 150px;

}
.test06{
    background-image: url(parken.png);
    background-repeat: no-repeat;
    background-position: 10px 50px;
}
.test07{
    background-image: url(parken.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
}
.test08{
    background-image: url(parken.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.test09{
    background-image: url(parken.png);
    background-repeat: no-repeat;
    background-position: right 10px bottom 50px;
}