#rahmen1 {
    width: 600px;
    height: 300px;
    background-color: rgb(7, 109, 95);
    color: white; 
    margin: 0 auto;

}

#rahmen2 {
    width: 300px;
    height: 300px;
    background-color: grey;
    color: white;
    padding: 0px 10px;   
    border: solid 30px red; 
    float: left;
    box-sizing: border-box;
}

