div{
    width: 200px;
    height: 200px;
    border: 5px solid red;

}
.play{
    background-image: url("play.png");
}
.pause{
    background-image: url("stop.png");
}
.play:hover{
    background-image: url("start.png");
}
.pause:hover{
    background-image: url("stoppen.png");
}
.play1{
    background: url("Sprite+Play+und+Pause.png") 0 0;
}
.play1:hover{
    background: url("Sprite+Play+und+Pause.png") -200px 0;
}

.pause1{
    background: url("Sprite+Play+und+Pause.png") 0 -200px;
}
.pause1:hover{
    background: url("Sprite+Play+und+Pause.png") -200px -200px;
}