*{
    margin: 0;
    background-color: rgb(201, 181, 125);
}
img{
    width: 400px;
    height: 300px;
    display: inline-block;
    position: relative;
    top: 161px;
    left: 216px;
}
#input{
    display: inline-block;
    position: relative;
    left: 660px;
}
#send-btn{
    position: absolute;
    top: 80px;
    left: 50px;
}
#send-btn:hover{
    background-color: blue;
    color: aliceblue;
}
#output{
    position: absolute;
    top: 500px;
    right: 400px;
}