*{
    margin: 0;
    background-color: bisque;
}
.first{
    background-color: aqua;
    font-size: 12px;
}
.second{
    background-color: aquamarine;
    font-size: 1em;
}
.third {
    background-color: cyan;
    font-size: 12px;
}

p ~ p{
    margin: 100px;
}

.image:hover {
    color: aliceblue;
    width: 700px;
    height: 700px;
    background: url("3.jfif") no-repeat;
    background-size: 700px 700px;
}
.icon:hover{
    width: 50px;
    height: 50px;
    background: url("3.jfif") no-repeat;
    background-size: 50px 50px;
}