/* Farben

Blau: #1F4E8C
Grau: #3D3F45
Hellgrau: #E5E5E5
Rot: #A62C21

 */

/* Globale Einstellungen */

body {
    
    height: 2000px;
    font-family: 'Raleway', 'Lato', Helvetica, sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* Ende Globale Einstellungen */

/* Allgemeine Einstellungen */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.active {
    background-color: #A62C21 !important;
}

.wichtig {
    color: #FD5C3F;
}

.screenreader {
    display: none;
}

.btn-typ-1 {
    background-color: #A62C21;
    border: none;
    color: #FFF;
    padding: .3rem .6rem;
}

/* Ende Allgemeine Einstellungen */

/* Start headernav */

/* Desktop - Navigation */

.headernav {
    width: 100%;
    height: 50px;
    background-color: #3D3F45;
    position: relative; 
    font-weight: bold;
    font-size: 1.1rem;
}

.headernav .container, 
.headernav .row, 
.headernav .column-6 {
    height: 100%;
}

.headernav .column-6 {
    padding-top: 0;
    padding-bottom: 0;
}

.headernav a > img {
    height: 30px;
    width: auto;
    float: left;
    margin-top: 10px;
}

.headernav ul {
    padding: 0;
    height: 100%;
    float: right;
}

.headernav ul > li {
    display: inline-block;
    height: 100%;
    padding: .3rem;
}

.headernav ul > li > a {
   margin-top: .5rem;
   display: inline-block;
}

.headernav ul > li > a:link {
    color: #FFFFFF;
    text-decoration: none;
}

.headernav ul > li > a:hover {
    color: #E5E5E5;
    text-decoration: none;
}

.headernav ul > li > a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.headernav ul > li > a:visited {
    color: #FFFFFF;
    text-decoration: none;
}



/* Ende Desktop - Navigation */

/* Start Mobile - Navigation */

.mobile-nav-button {
    color: #FFF;
    float: right;
    font-size: 2rem;
    border: 2px solid #FFF;
    height: 33px;
    width: 33px;
    position: relative;
    margin-top: 8px;
    margin-bottom: 9px;
}

.mobile-nav-button > span {
    position: absolute;
    left: 5px;
    bottom: -4px;

}

.mobile-nav-content > ul > li {
    display: block;
    background-color:#3D3F45;
    padding: 0 1rem;
    height: 2.5rem;
}

.mobile-nav-dropdown {
    position: relative;
    float: right;
    
}

.mobile-nav-content {
    position: absolute;
    right: 0;
    margin-top: 50px;
    display: none;
}

.mobile-nav-dropdown:hover > .mobile-nav-content {
    display: block;
}

.mobile-nav {
    display: none;
}

@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }

}

/* Ende Mobile - Navigation */

/*  Ende headernav */

/* Start Banner */

.banner {
    width: 100%;
    height: auto;
}

.header-banner {
    width: 100%;
    height: 0;
    padding-top: 20.83%;
    background: url("../img/hintergrund.jpg") no-repeat center center;
    background-size:  contain;
}

/* Warum padding-top: 20.83%?
    Maße des Bildes: 1920 breit, 400 hoch
    400/1920 = 20.83%
 */

.header-banner-klein {
    width: 100%;
    height: 0;
    padding-top: 15.625%;
    background: url("../img/hintergrund-klein.jpg") no-repeat center center;
    background-size:  contain;
}

/* Warum padding-top: 20.83%?
    Maße des Bildes: 1920 breit, 300 hoch
    300/1920 = 15.625%
 */

 /* Start Banner */

 /* Start Newsletter */

 .newsletter-bereich {
     background-color: #3D3F45;
     width: 100%;
 }

 .nl-werbetext {
     color: #FFF;
     font-size: 1.2rem;
 }

 .newsletter-bereich input {
     height: 1.5rem;
     border: none;
     padding-left: .4rem;
     width: 78%;

 }

 #nl-btn {
     height: 1.5rem;
 }

 .nl-form {
     float: right;
     width: 100%;
     text-align: right;
 }

 @media(max-width: 1772px){
    .newsletter-bereich input {
        width: 70%;
   
    }
 }
 @media(max-width: 1500px){
    .newsletter-bereich input {
        width: 100%;
    }
    #nl-btn {
        height: 1.5rem;
        width: 100%;
        margin-top: 0.5rem;
    }

 }
 @media(max-width: 768px){
     .newsletter-bereich .column-4 {
         display: none;
     }
     .nl-werbetext {
        display: none;
    }
 }

 .leistung-btn{
     
 }