*{
    box-sizing: border-box;/* verhindert das sperren beim padding */
}

body,html{
    background-color:lightblue;
    margin:0;
}
header{
    background:url(../img/background.jpg) no-repeat center center;
    background-size: cover;
    height:105px;
    padding:20px 0 0 20px;
}
h1{
    margin:0;
    color:whitesmoke;
}

main{
    padding: 20px;
}

footer{
    position:fixed; /* Postion festlegen */
    bottom:0px; /* Abstand von unten */
    width:100%; /* Breite body */
    background:url(../img/background.jpg) no-repeat center center;
    background-size: cover;
    height:60px;
    color:white;
    font-weight: bold;
    text-align: center; /* zentrieren von Text */
    padding-top:20px;/* Innenabstand nach oben */
}

address span{
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
}
.projekte{
       overflow: hidden;
}

.projekte img{
   float:left;
   width: 300px;
   margin-right:10px;

}