
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 2000px;
    font-family: 'Raleway', 'Lato', Helvetica, sans-serif;
    /* border: solid; */
}
.mobile-nav-button{
    color: #E5E5E5;
    float: right;
    font-size: 2rem;
    border: 2px solid white;
    height: 33px;
    width: 33px;
    position: relative;
    margin-top: 7px;
}
.mobile-nav-button > span{
    position: absolute;
    left: 5px;
    bottom: -4px;

}
.headernav {
    width: 100%;
    height: 50px;
    background-color: #3D3F45;
    position: relative; 
    font-weight: bold;
    font-size: 1.1rem;
}

.headernav > a > img {
    height: 30px;
    width: auto;
    position: absolute;  
    top: 10px;
    left: 2rem; 
}

.headernav > ul {
    padding: 0;
    height: 100%;
    position: absolute;
    right: 2rem;
    /* top: .8rem; */
}

.headernav > ul > li {
    display: inline-block;
    height: 100%;
    padding: .3rem;
}

.headernav > ul > li > a {
   margin-top: .5rem;
   display: inline-block;
}

.headernav > ul > li > a:link {
    color: #FFFFFF;
    text-decoration: none;
}

.headernav > ul > li > a:hover {
    color: #E5E5E5;
    text-decoration: none;
}

.headernav > ul > li > a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.headernav > ul > li > a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.active {
    background-color: #A62C21;
}

.banner {
    width: 100%;
    height: auto;
}
/* we can use ../ to find the folder for images */
.header-banner {
    width: 100%;
    height: 0;
    padding-top: 20.83%;
    background: url("img/hintergrund.jpg") no-repeat center center;
    background-size:  contain;
}

/* Warum padding-top: 20.83%?
    Maße des Bildes: 1920 breit, 400 hoch
    400/1920 = 20.83%
 */

.header-banner-klein {
    width: 100%;
    height: 0;
    padding-top: 15.625%;
    background: url("img/hintergrund-klein.jpg") no-repeat center center;
    background-size:  contain;
}
.container {
    
    margin: 0 auto;

    /* height: 400px;
    background-color: grey; */
}

/* Die Rows dienen nur der Ordnung, so dass die Columns sauber nebeneinander floate 
clearfix */

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="column-"] {
    float:left;
    padding: 0.7rem;
    text-align: justify;
    border: solid 5px red;
}

/* Jede Column-1 bekommt genau 1/6 der Breite:
 100% / 6 = 16.666% */
.column-1 {
    width: 16.666%;
}

.column-2 {
    width: 33.333%;
}

.column-3 {
    width: 50%;
}

.column-6 {
    width: 100%
}

/* 
Breakpoints: Wann bricht das Layout um?

für alle Desktop-Geräte oder größer genügt das Standardlayout, das wir jetzt haben.
1024px (Tablet quer)
768px  (Tablet hochkant)
480px (Mobiltelefon und alles was kleiner ist)
*/

@media (max-width: 1024px) {
    .column-1 {
        width: 33.333%;
    }
}

@media (max-width: 768px) {
    .column-1 {
        width: 50%;
    }
    
    .column-2 {
        width: 100%;
    }
    
    .column-3 {
        width: 100%;
}
}

@media (max-width: 480px) {
    .column-1 {
        width: 100%;
    }
    
    .column-2 {
        width: 100%;
    }
    
    .column-3 {
        width: 100%;
}
}

#rahmen1 {
    width: 600px;
    height: 300px;
    background-color: rgb(7, 109, 95);
    color: white; 
    margin: 0 auto;
}

#rahmen2 {
    width: 300px;
    height: 300px;
    background-color: grey;
    color: white;
    padding: 0px 10px;   
    border: solid 30px red; 
    float: left;
    box-sizing: border-box;
}

#vordefiniert {
    width: 100px;
    height: 100px;
    background-color: grey;
}

#hex {
    width:100px;
    height: 100px;
    background-color: #FF00FF;
}

#rgb {
    width:100px;
    height: 100px;
    background-color: rgb(33, 55, 77);
}

#rgba {
    width:100px;
    height: 100px;
    background-color: rgba(33, 55, 77, 0.3);
}

#hsl {
    width:100px;
    height: 100px;
    background-color: hsl(120, 100%, 50%);
}

#hsla {
    width:100px;
    height: 100px;
    background-color: hsla(120, 100%, 50%, 0.5);
}

/* 
Quadratisch (400px*400px)
Rahmen 
Abstand von 20px
 */

 #test1 {
     display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid black; 
    margin: 20px 0;

}

.test01 {
    background-color: aqua;
}

.test02 {
    background-image: url("img/parken.png");
}

.test03 {
    background-image: url("img/parken.png");
    background-repeat: repeat-x;
}

.test04 {
    background-image: url("img/parken.png");
    background-repeat: repeat-y;
}

.test05 {
    background-image: url("img/parken.png");
    background-repeat: no-repeat;
}

.test06 {
    background-image: url("img/parken.png");
    background-repeat: no-repeat;
    background-position: center center;
}

/* 
erster Wert: horizontale
left   center    right
zweiter Wert: vertikale
top    center    bottom
 */

.test07 {
    background-image: url("img/parken.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* .test08 {
    background-image: url("parken.png");
    background-repeat: no-repeat;
    background-position: 100px 150px;
} */

.test08 {
    background-image: url("img/parken.png");
    background-repeat: no-repeat;
    background-position: right 50px bottom 50px;
}

.test09 {
    background-image: url("img/parken.png");
    background-attachment: fixed;
}

/* 
Reihenfolge der Element für Kurzschreibweise background:
background-color
background-image
background-repeat
background-attachment
background-postion

Man kann Eigenschaften weg lassen, aber die Reihenfolge darf nicht geändert werden!
 */

.test10 {
    background: pink url("img/parken.png") repeat-y fixed left 20px top 50px ;
}
/* 
.test10 {
    background: url("parken.png") repeat-y left 20px top 50px ;
} */

#relDiv {
    width: 400px;
    height: 300px;
    background-color: royalblue;
    position: relative;
    top: 50px;
    left: 500px;

}

#absDiv {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    position: absolute;
    top: 200px;
    left: 200px;
}


span {
    position: relative;
    top: 20px;
    left: 20px;
}

i {
    position: absolute;
    top: 20px;
    left: 20px;
}


body {
    height: 5000px;
}

#fixedDiv {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    position: fixed;
    top: 0;
    right: 0;
}

#stickyDiv {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    position: sticky;
    top: 80px;
    bottom: 80px;
    
}

#test {
    width: 300px;
    height: 300px;
    background-color: grey;
}

/* Pseudoelemente::after 
- keine wirklichen Elemente,
- können aber fast alle CSS-Eigenschaften erhalten,
- werden nicht im Quelltext angezeigt, sondern nur im Broswer 
  während der Anzeige
*/

#test::before {
    content: "Ich bin eigentlich nicht da und stehe vor dem Inhalt";
    color: red;
}

#test::after {
    content: "Ich komme zum Schluß!!";
    color: green;
}

#rahmen {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid black;
}

#navi {
    width: 800px;
    height: 50px;
    background-color: grey;
}

#links {
    width: 400px;
    height: 500px;
    background-color: red;
    float:left;
}
#rechts {
    width: 400px;
    height: 500px;
    background-color: blue;
    float: left;
}
h1 {
    color: blue;
    border: inherit;
}

.hi, .ho{
    background-color: rgb(204, 10, 10);
    width: 400px;
    height: 400px;
    display: block;   /*when we use block then it will take size from 400px as it was written.
                       when we use inline-block it will take the content aside */
}