#relativesDIV {
  width: 400px;
  height: 400px;
  background-color: grey;
  position: relative;
  top: 10px;
  left: 10px;
}

#absolutesDIV {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 10px;
  right: 0px;
}

div.fest {
  width: 50px;
  height: 50px;
  background-color: red;
  position: fixed;
  left : 0;
  top: 0;
}

span {
  position: relative;
  top: 20px;
  left: 20px;
}

b {
  position: absolute;
  top: 20px;
  left: 20px;
}

body {
  height: 2000px;
}
