#vordefiniert {
    width: 300px;
    height: 300px;
    background-color: grey;
}

#hex {
    width:300px;
    height: 300px;
    background-color: #FF00FF;
}

#rgb {
    width:300px;
    height: 300px;
    background-color: rgb(33, 55, 77);
}

#rgba {
    width:300px;
    height: 300px;
    background-color: rgba(33, 55, 77, 0.3);
}

#hsl {
    width:300px;
    height: 300px;
    background-color: hsl(120, 100%, 50%);
}

#hsla {
    width:300px;
    height: 300px;
    background-color: hsla(120, 100%, 50%, 0.5);
}

/* 
    H: Hue Farbton
    S: Saturation Sättigung
    L: Lightness Helligkeit

    https://hslpicker.com

    CMYK: aus dem Druckbereich
    HWB: Hue Whiteness Blackness

    beide sind in HTML/CSS nicht unterstützt
    ABER
    Beide werden in CSS4 als Standard vorgeschlagen

 */

