#test {
    width: 300px;
    height: 300px;
    background-color: grey;
}

/* Pseudoelemente::after 
- keine wirklichen Elemente,
- können aber fast alle CSS-Eigenschaften erhalten,
- werden nicht im Quelltext angezeigt, sondern nur im Broswer 
  während der Anzeige
*/

#test::before {
    content: "Ich bin eigentlich nicht da und stehe vor dem Inhalt";
    color: red;
}

#test::after {
    content: "Ich komme zum Schluß!!";
    color: green;
}